@model Bet.Models.BetViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BetViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTeame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstTeame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.whoWin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.whoWin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gameResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gameResult)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
